{% extends 'flatpages/default.html' %}

{% block title %}
All news
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    {% if newslist %}
        <ul>
        {% for post in newslist %}
        <li>
          <a href="/news/{{ post.pk }}">{{ post.heading }}</a>
            <p>{{ post.publication_time | date:"H-M-Y" }} {{ post.publication_time | time:"H:i" }}</p>
            <p>{{ post.text|truncatechars:50 }}</p>
        </li>
        {% endfor %}
        </ul>
        <!-- в данном случае считаю вывод в виде таблицы нецелесообразным -->
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}
