{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
{{ news.heading | censor }}
{% endblock title %}

{% block content %}
<h1>{{ news.heading | censor }}</h1>
<p>{{ news.publication_time | date:"d-M-Y" }} {{ news.publication_time | time:"H:i" }}</p>
<p>{{ news.author.user.username }}</p>
{% for category in news.categories.all %}
<p>{{ category.name }}</p>
{% endfor %}
<p>{{ news.text | censor }}</p>

<p><a href="/news/{{ news.pk }}/update">Update news</a></p>
<p><a href="/news/{{ news.pk }}/delete">Delete news</a></p>
{% endblock content %}
