{% extends 'flatpages/default.html' %}

{% block title %}
All news
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>

    <p><a href="/news/add">Добавить новость</a></p>
    <p><a href="/news/search">Поиск</a></p>

    {% if newslist %}
        <ul>
        {% for post in newslist %}
        <li>
          <a href="/news/{{ post.pk }}">{{ post.heading }}</a>
            <p>{{ post.publication_time | date:"d-M-Y" }} {{ post.publication_time | time:"H:i" }}</p>
            <p>{{ post.text|truncatechars:50 }}</p>
            <!-- <p>{{ post.author.user.username }}</p> -->
        </li>
        {% endfor %}
        </ul>
        <!-- в данном случае считаю вывод в виде таблицы нецелесообразным -->
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">В начало</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
        {% endif %}

    {% endif %}

{% endblock content %}
