{% extends 'flatpages/default.html' %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<p>{{ request.user.first_name }}</p>
<p>{{ request.user.last_name }}</p>
<p>{{ request.user.email }}</p>


<p><a href="/profile/edit/">Редактировать профиль</a></p>
<!-- <p><a href="/news/{{ news.pk }}/delete">Удалить профиль</a></p> -->

{% if is_not_authors %}
<button> <a href="/sign/upgrade/"> Стать автором </a> </button>
{% endif %}

<button> <a href="/sign/logout/">Выйти</a> </button>
{% endblock %}